<% include partials/adminheader.ejs %>

         <!-- row -->
            <div class="row tm-content-row tm-mt-big">
                <div class=" col-lg-12  ">
                    <div class="bg-white tm-block h-100">
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <h2 class="tm-block-title d-inline-block">Daily collection Report</h2>

                            </div>
                           
                        </div>
						                                    <% if ( typeof requests != 'undefined') { %>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped tm-table-striped-even mt-3">
                               <thead>
                                    <tr class="tm-bg-gray">
                                        <th scope="col">user id</th>
                                        <th scope="col">Name</th>
										<th scope="col">loan type</th>
										
                                        <th scope="col" >Amount</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Time type</th>
                                     
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>


    		<% if (requests.length > 0) { %>
        <% requests.forEach((row, index) => { %>
									<tr>
									 <td class="tm-product-name">BSR<%= row.user_id %></td>
									 <td class="tm-product-name"><%= row.user_name %></td>
                                        <td class="text-center"><%= row.r_loan_type	%></td>
                                        <td class="te	xt-center"><%= row.r_amount%></td>
                                        <td class="text-center"><%= row.r_time %></td>
                                        <td class="text-center"><%= row.r_time_type%></td>
                                    
									
                                    </tr>
                                       <% }) %>
                                </tbody>
                            </table>
                        </div> 
                                  </div>
                </div>
<%}
			
			else { %>
		
            <p class="text-center">No request found </p>
        <% }
	
	}
		
		else {%>
		 <p class="text-center">No request Found </p>
		<%}
		
		%>	
</div>
</div>
</div>
<center>
   <% include partials/adminfooter.ejs %>
</center>
   